html {
    font-size: 4vw;
}

html, body, p, form, input {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    border: 10px groove #00C957;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    margin-bottom: 20px;
}

#haha {
    font-size: 1rem;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

#haha input {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.001;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#uplabel:hover {
    background-color: greenyellow;
}

