html, body, div {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: row wrap;
    /* formatting */
    width: 100%;
    padding: 0;
    border: 5px solid red;
    margin: 0 auto;
}

.c1, .c2, .c3, .c4, .c5 {
    width: 100%;
    /* formatting */
    min-height: 150px;
}

/*

#1
flex-direction: row;
flex-wrap: wrap;

#2
everything you want on one row should add up to width 100%

*/