body {
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

div {
    width: 200px;
    height: 200px;
    background-color: yellow;
    border: 5px solid black;
}

div:hover {
    background-color: blue;
}
