/* container */
body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* formatting */
    border: 5px solid red;
}

/* flex items */
div {
    /* flex-grow: 1; */
    /* formatting */
    width: 200px;
    height: 100px;
    margin: 1em;
    border: 1px solid red;
    background-color: darkgray;
    text-align: center;
}