body {
    background: url(sunset.jpg) no-repeat top center fixed;
    background-size: cover;
    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
    /* height */
    height: 98vh;
}

h1 {
    color: white;
    font-size: 7rem;
}