html, body, div {
    padding: 0;
    border: 0;
    margin: 0;

}

div {
    height: 200px;
    border: 3px solid hotpink;
    margin: 10px 0;
}


#tom-collins {
    border: 10px dashed orangered;
}


#roy-rogers {
    border: 20px groove darkturquoise;

}


#shirley-temple {
    border: 20px double crimson;
}


#heinekein {
    border: 20px ridge rebeccapurple;
}