.container {
    height: 700px;
    border: 5px solid red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.item {
    width: 200px;
    height: 100px;
    margin: 1em;
    border: 1px solid red;
    background-color: darkgray;
    /*text-align: center;*/
    display: flex;
    justify-content: center;
}

.start {
    align-items: flex-start;
}

.center {
    align-items: center;
}

.end {
    align-items: flex-end;
}

.baseline {
    align-self: baseline;
}