body {
    display: flex;
    flex-flow: row nowrap;
    /* formatting */
    border: 5px solid red;
}

div {
    /* formatting */
    height: 100px;
    margin: 1em;
    border: 1px solid red;
    background-color: darkgray;
    text-align: center;
}

.g1 {
    flex-grow: 1;
}

.g4 {
    flex-grow: 4;
}