<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>INDEX</title>
</head>
<style>
    html {
        font-size: 32px;
    }
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main {
        border: 2px solid black;
        max-width: 60%;
    }
</style>
<body>

<main>
<form action="/process" method="get">

    <input type="radio" name="gender" value="male"> Male<br>
    <input type="radio" name="gender" value="female"> Female<br>
    <input type="radio" name="gender" value="other"> Other


    <input type="submit">

</form>
</main>




</body>
</html>