body {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    /* formatting */
    border: 5px solid red;
}

div {
    flex-grow: 1;
    /* formatting */
    width: 200px;
    height: 100px;
    margin: 1em;
    border: 1px solid red;
    background-color: darkgray;
    text-align: center;
}