body {
    border: 1px solid black;
    max-width: 700px;
    margin: 0 auto;
}

nav {
    float: left;
    width: 25%;
}

nav li {
    list-style-type: none;
}

section {
    margin-left: 25%;
}

section:last-child::after {
    content: "MORE THAN 600px";
    color: red;
    font-weight: bold;
}