body {
    border: 1px solid black;
    max-width: 700px;
    margin: 0 auto;
}

nav {
    display: none;
}

section:last-child::after {
    content: "GETTIN' MY PRINT ON";
    color: red;
    font-weight: bold;
}