body {
    display: flex;
    flex-flow: column wrap;
    /* formatting */
    border: 5px solid red;
}

div {
    /* formatting */
    width: 100px;
    height: 50px;
    margin: 1em;
    border: 1px solid red;
    background-color: darkgray;
    text-align: center;
}

#nn {
    order: 1;
}

#mm {
    order: 2;
}

#ll {
    order: 3;
}

#kk {
    order: 4;
}

#jj {
    order: 5;
}

#ii {
    order: 6;
}

#hh {
    order: 7;
}

#gg {
    order: 8;
}

#ff {
    order: 9;
}

#ee {
    order: 10;
}

#dd {
    order: 11;
}

#cc {
    order: 12;
}

#bb {
    order: 13;
}

#aa {
    order: 14;
}