head, body, main, header, div {
    padding: 0;
    border: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    box-sizing: border-box;
}

#atf {
    height: 100vh;
    background-image: url("../../pier.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    color: white;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    background-color: rgba(135, 203, 255, 0.78);
    border-bottom: 2px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

header > div {
    height: 100%;
    border: 2px solid red;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > div:hover {
    background-color: white;
}
