html, body, h1 {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url("../022_float/01/vw-expresso.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /* position */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

h1 {
    font-size: 200px;
    color: #00C957;
}