.container {
    height: 700px;
    border: 5px solid red;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*align-items: center;*/
    align-content: center;
}

.item {
    width: 200px;
    height: 100px;
    margin: 1em;
    border: 1px solid red;
    background-color: darkgray;
    text-align: center;
}