html, body, div, footer, span, button {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
font-size: 1vw;
color: #86969C;
}

#atf {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 7rem;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
}

#top-border {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* format */
    width: 95%;
    height: 12rem;
    border-top: 2px solid #86969C;
}

#ftr-spnr, #ftr-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    /* format */
    margin: 0 6rem;
    font-size: 4rem;
}

span {
    margin-left: 1rem;
}

button {
    font-size: inherit;
    border-radius: 4px;
    padding: 1rem 3rem;
    cursor: pointer;
}

#reset {
    color: #4EBBE4;
    background-color: white;
}

#save {
    color: white;
    background-color: #4EBBE4;
    border: 1px solid #16A2D7;
    margin-left: 1rem;
}

.icon {
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.icon-spinner {
    /* animation */
    animation-name: spinner;
    animation-duration: 2s;
    animation-timing-function: linear;
    /*animation-delay: 0s;*/
    animation-iteration-count: infinite;
    /*animation-direction: normal;*/
    /*animation-fill-mode: none;*/
    /*animation-play-state: running;*/
}

@keyframes spinner {
    0% { transform:rotate(0deg); }
    100%   { transform:rotate(360deg);}
}
