html {
    font-size: 1vw;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 1em; height: 1em;
    fill: currentColor;
}

.complete {
    /* arrange */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* format */
    color: #fff;
    font-size: 4rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 1.5rem 4rem 1.5rem 2rem;
    border: .3rem solid #000;
    border-radius: 5px;
}

.icon-white {
    fill: white;
    /*stroke: black;*/
    /*stroke-width: 1%;*/
    /*stroke-linejoin: round;*/
    font-size: 5.2rem;
    padding-right: 1rem;
}

.gradient {
    background: linear-gradient(#72c41f, #5c9e19);
    /*background: linear-gradient(#67b11c, deepskyblue);*/
    /*background: linear-gradient(#67b11c, yellow);*/
    /*background: linear-gradient(#67b11c, hotpink);*/
    /*background: linear-gradient(#67b11c, yellow, hotpink);*/
    /*background: linear-gradient(to right, #67b11c, yellow);*/
    /*background: linear-gradient(to right, #67b11c, yellow, hotpink);*/
    /*background: linear-gradient(to right bottom, #67b11c, yellow);*/
    /*background: radial-gradient(#67b11c, yellow);*/
    /*background: radial-gradient(#67b11c, yellow, hotpink);*/
}