div {
    border: 4px solid red;
    background-color: darkgray;
    text-align: center;
}

.box {
    float: left;
    /* formatting */
    width: 200px;
    height: 100px;
    margin: 1em;
}

.after-box {
    clear: both;
}