html, body {
    padding: 0;
    border: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

i {
    color: red;
    border: 3px solid black;
    box-shadow: 10px 10px 10px black;
}