.mobile-bottom-nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    background: deepskyblue;
}

.mobile-bottom-nav-a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: white;
    text-align: center;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.mobile-bottom-nav-a:hover {
    background: royalblue;
}

.mobile-bottom-nav-last {
    border-bottom: none;
}
