body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img {
    animation-name: wackabacka;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    width: 10vw;
}

@keyframes wackabacka {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}