html, body, div {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}


div {
    position: fixed;
    top: 0;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #0ebfe9;
    border: 10px groove blue;
    animation-name: wackabacka;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;

    /*transition-property: all;*/
    /*transition-timing-function: ease-out;*/
    /*transition-duration: 2s;*/
}

@keyframes wackabacka {
    0% {
        left: 0;
    }
    100% {
        left: 1420px;
    }
}
