body {
    font-size: 36px;
    text-align: center;
    border: 10px solid green;
}

/* order matters */
/* LVHA */
/* Link Visited Hover Active */
a:link {
    color: green;
}

a:visited {
    color: blue;
}

a:hover {
    color: red;
}

a:active {
    color: yellow;
}