body {
    background: url(img/fog.jpg) no-repeat top center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.header {
    color: #094562;
    text-align: center;
}

.box-1 {
    background-color: #094562;
    height:250px;
    width: auto;
    text-align: center;
    margin: 20px 20px 20px 20px;
}

.box-2 {
    background-color: #496812;
    height:250px;
    width: auto;
    text-align: center;
    margin: 20px 20px 20px 20px;
}

.box-3 {
    background-color: #584420;
    height:250px;
    width: auto;
    text-align: center;
    margin: 20px 20px 20px 20px;
}

.box-4 {
    background-color: #651456;
    height:250px;
    width: auto;
    text-align: center;
    margin: 20px 20px 20px 20px;
}

