html, body, label, input, div {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    border: 2px solid crimson;
    font-size: 4rem;
    padding: 20px;
    border-radius: 20px;
}

label:hover {
    background-color: #7fd2ff;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + div {
    left: -500px;
}

input[type="checkbox"]:checked + div {
    left: 0;
}

div {
    position: fixed;
    top: 0;
    left: -500px;
    height: 100vh;
    width: 450px;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease;
    border: 2px solid black;
    background-color: #7fd2ff;
}