/*body, nav, main, p {*/
    /*padding: 0;*/
    /*border: 0;*/
    /*margin: 0;*/
/*}*/

html {
    margin: 15px;
    border: 2px solid green;
}

body {
    position: relative;
    /* formatting */
    border: 4px solid black;
    max-width: 700px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px; /* notice this */
    /*border: 1px solid hotpink;*/
}

main {
    margin-left: 150px; /* notice this */
    padding-left: 20px;
    border-left: 1px dashed gray;
}

main {
    /*
    what happens if you use this instead of
    margin-left: 150px;
    */
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 150px;*/
}