/*
animation-name: none
animation-duration: 0s
animation-timing-function: ease
animation-delay: 0s
animation-iteration-count: 1
animation-direction: normal
animation-fill-mode: none
animation-play-state: running
*/

html {
    font-size: 4vw;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%
}

body {
    color: red;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icon {
    width: 1em; height: 1em;
    fill: currentColor;
}

.circle {
    font-size: 8rem;
    position: relative;
    left: 0;
}

div {
    width: 100%;
    /*border: 4px solid red;*/
}

.circle {
    animation-name: move-circle;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes move-circle {
    0% { left: 0; }
    100%   { left: 68%; }
}