.c1 {
    color: #fff;
    background-color: #003476;
}

.c2 {
    color: #fff;
    background-color: #0062d2;
}

.c3 {
    color: #fff;
    background-color: #b4d2f7;
}

.c4 {
    border: 2px solid red;
    box-sizing: border-box;
}