body {
    display: flex;
    flex-direction: column;
}

.b {
    display: flex;
}

.c {
    width: 200px;
    height: 200px;
    color: white;
    text-align: center;
    line-height: 200px; /* centers vertically */
    margin: 20px;
}

.c01 {
    /*background-color: deepskyblue;*/
    background-color: rgb(0,0,255);
}

.c02 {
    background-color: royalblue;
}

.c03 {
    background-color: dimgray;
    border: 2px solid lawngreen;
}

.c03:hover {
    border: 2px solid hotpink;
}

.c04 {
    background-color: dimgray;
    border: 2px solid hotpink;
}
.c04:hover {
    border: 2px solid lawngreen;
}