div {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}

img {
    border: 10px groove orangered;
}

.dogone {
    border: 10px dashed orangered;
}

.dogtwo {
    border: 10px dotted orangered;
}

.dogthree {
    border: 10px double orangered;
}