/*
animation-name: none
animation-duration: 0s
animation-timing-function: ease
animation-delay: 0s
animation-iteration-count: 1
animation-direction: normal
animation-fill-mode: none
animation-play-state: running
*/

html {
    font-size: 4vw;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%
}

body {
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 1em; height: 1em;
    fill: currentColor;
}

.circle {
    font-size: 8rem;
    animation-name: spinner;
    animation-duration: 2s;
    animation-timing-function: linear;
    /*animation-delay: 0s;*/
    animation-iteration-count: infinite;
    /*animation-direction: normal;*/
    /*animation-fill-mode: none;*/
    /*animation-play-state: running;*/
}

@keyframes spinner {
    0% { transform:rotate(0deg); }
    100%   { transform:rotate(360deg);}
}
