html {
    font-size: 15rem;
}

p {
    color: lawngreen;

    text-decoration: line-through underline overline;

    /* these didn't work for me*/
    /*text-decoration-line: underline;*/
    /*text-decoration-color: darkgreen;*/
    /*text-decoration-style: wavy;*/
}