html, body, header, h1, h2 {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 100vh;
    background-color: gray;
    background-image: url(bird.jpg);
    background-size: cover;
    background-position: center;
    border: 10px solid hotpink;
    /* center text */
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-size: 6rem;
    border: 10px solid hotpink;
}

h2 {
    font-family: 'Nosifer', cursive;
    color: #f00;
    font-size: 10rem;
    text-align: center;
    border: 10px solid hotpink;
}