html, body, h1 {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    color: white;
    font-size: 1.4rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6vh;
    background-color: rgba(127, 210, 255, 0.41);
    border-bottom: 1px solid darkslategray;
    /*layout*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > div {
    height: 80%;
    margin: 0 20px;
    /*border: 1px solid black;*/
    /*background-color: red;*/
    /* layout */
    display: flex;
    justify-content: center;
    align-items: center;
}

header > div > span {
    margin: 0 15px;
}

header > div > span:hover {
    color: blue;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../pier.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: white;
    font-size: 12rem;
}

header > div > span:hover {
    color: green;
}