html {
    font-size: 62.5%;
}

article {
    font-size: 4rem;
    border: 2px solid black;
}

p {
    margin: 1em;
    border: 1px solid gray;
}

/*
Use rems for global sizing, use ems for local sizing

As a guideline, use rems to scale something with the page (global sizing) and use ems to scale within a component (local sizing).

http://clagnut.com/blog/2384/
*/