/* flex container */
body {
    display: flex;
    flex-flow: row wrap;
    /*align-items: stretch;*/
    align-content: space-around;
    /* formatting */
    height: 700px;
    border: 5px solid red;
}

/* flex items */
div {
    /* formatting */
    /*height: 100px;*/
    width: 200px;
    margin: 1em;
    border: 1px solid red;
    background-color: darkgray;
    text-align: center;
}