.container {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
}

.c1, .c2, .c3 {
    width: 100%;
    min-height: 150px;
}

.c4 {
    padding: 10px 0;
    border-radius: 10px;
    position: fixed;
    top: 40px;
    left: 40px;
    z-index: 2;
}


.c4>a {
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    /*border: 3px solid black;*/
}

.c5 {
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: -300px;
    z-index: 1;
}

@media (min-width: 600px) {
    .c1 {
        width: 60%;
        order: 2;
    }

    .c2 {
        width: 40%;
        order: 1;
    }

    .c3 {
        width: 100%;
        order: 3;
    }
}


@media (min-width: 800px) {
    .c2 {
        width: 20%;
    }

    .c3 {
        width: 20%;
    }
}