.container {
    height: 600px;
    border: 5px solid red;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}

.item {
    width: 200px;
    height: 100px;
    margin: 1em;
    border: 1px solid red;
    background-color: darkgray;
    text-align: center;
    flex-grow: 1;
}