html, body, header {
    padding: 0;
    border: 0;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

header {
    border: 10px solid hotpink;
    color: green;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.icon {
    /* Allows sizing by changing the icon’s font-size */
    width: 1em; height: 1em;
    /* Nice visual alignment for icons alongside text */
    vertical-align: -0.15em;
    /* Default path fill = value of the color property */
    fill: currentColor;
    /* Paths and strokes that overflow the viewBox can show in IE.
       If you use normalize.css, it already sets this. */
    overflow: hidden;
}

.icon-gold {
    fill: gold;
    stroke: coral;
    stroke-width: 5%;
    stroke-linejoin: round;
    font-size: 100vh;
}