body {
    background-image: url("../img/background-photo.jpg")
}

.top-right-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 20px;
}

nav {
    justify-content: space-between;
}

.top-right-nav-item {
    margin-left: 25px;
}

.top-right-nav-item:hover {
    color: deeppink;
}
