.container {
    padding: 0;
    border: 2px solid red;
    margin: 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.c1, .c2, .c3, .c4, .c5 {
    min-height: 150px;
    width: 100%;
}

@media (min-width: 600px) {
    .c2, .c3, .c4, .c5 {
        width: 50%;
    }
}

@media (min-width: 800px) {
    .container {
        width: 800px;
        margin: 0 auto;
    }
    .c1 {
        width: 60%;
    }
    .c2 {
        width: 40%;
    }
    .c3, .c4, .c5 {
        width: 33.33%;
    }
}