html, body, header {
    height: 100%;
}

html, body, header, section, h1, p, a {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Cantarell", sans-serif;
    font-size: 18px;
    color: #ffffff;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 53px;
}

h1, p {
    text-align: center;
}

/* Added: */
h1 {
    color: #efecec;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400;
}

p {
    margin-bottom: 15px;
}

strong {
    font-weight: 700;
}

a {
    color: #ffffff;
}

.sub-title {
    margin: 50px;
    font-size: 18px;
    text-transform: uppercase;
}

.button {
    padding: 6px 10px;
    color: #cafaea;
    border: 1px solid #cafaea;
    border-radius: 3px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}
