body {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
}

header {
    height: 55px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.logo {
    font: 900 3.2rem 'Lato',sans-serif;
    /*font-weight: 900;*/
    /*font-size: 3.2rem;*/
    /*font-family: 'Lato',sans-serif;*/
    opacity: .75;
    color: #fff;
    text-decoration: none;
}

.main-h1 {
    font: 900 7.2rem 'Lato',sans-serif;
    text-align: center;
    line-height: .95;
}

.main-a:hover {
    color: #f00;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255,255,255,0.1);
}

.slug {
    font: 2.5rem 'Indie Flower', cursive;
    color: #fff;
    text-align: center;
    margin: 40px 20px 35px 20px;
    line-height: 1;
    max-width: 800px;
}

.btn-great {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 38px;
    background-color: #f00;
    font: 1.5rem 'Open sans', sans-serif;
    color: #fff;
    text-transform: uppercase;
    border-radius: .25rem;
}