html, body, main, div {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(red, orange, yellow, yellow, white);
}

main {
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 8rem;
    color: white;
}
