div {
    float: left;
    /* formatting */
    width: 200px;
    height: 100px;
    margin: 1em;
    border: 2px solid green;
}

section {
    clear: left;
    /* formatting */
    border: 2px solid blue;
}