body {
    display: flex;
    /* formatting */
    border: 5px solid red;
}

div {
    flex: 1 1 auto;
    /* flex-grow, flex-shrink, flex-basis */
    /* formatting */
    width: 400px;
    height: 100px;
    margin: 1em;
    border: 1px solid red;
    background-color: darkgray;
    text-align: center;
}