body {
    display: flex;
    /*flex-flow: row nowrap;*/
    /* formatting */
    height: 775px;
    border: 5px solid red;
}

div {
    /* formatting */
    width: 300px;
    height: 100px;
    margin: 1em;
    border: 1px solid red;
    background-color: darkgray;
    text-align: center;
}

.otras {
    align-self: flex-end;
}