div {
    width: 600px;
    height: 600px;
    border: 50px solid rgba(0,0,0,1);
    background: url("01.png") center cover no-repeat fixed border-box border-box cornflowerblue;
    /*background-image: url("01.png");*/
    /*background-position: center;*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*background-clip: border-box;*/
    /*background-origin: border-box;*/
    /*background-color: cornflowerblue;*/

    padding: 40px;
    color: white;
}

/*
<final-bg-layer> = <bg-image> || <position> [ / <bg-size> ]? || <repeat-style> || <attachment> || <box> || <box> || <'background-color'>

IPSRABC
I Pray Soon Regular Apples Become Beautifully Common

background-image
background-position
background-size
background-repeat
background-attachment
background-clip
background-origin
background-color

https://developer.mozilla.org/en-US/docs/Web/CSS/background#final-bg-layer

http://stackoverflow.com/questions/19664549/background-shorthand-order-in-css3
*/