html, body, main, div {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

div {
    width: 250px;
    height: 100px;
    border: 1px solid black;
    background-color: tomato;
    font: 2rem sans-serif;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
    flex-grow: 1;
}

#s19 {
    flex-grow: 1;
}

#s20 {
    flex-grow: 2;
}

main {
    height: 100vh;
    border: 3px solid red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*flex-flow: row nowrap;*/
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}