html, body, div {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    margin: 5px;
}

div {
    width: 100px;
    height: 100px;
    margin: 10px;
    display: inline-block;
    border: 5px inset fuchsia;
    border-radius: 50%;
    background-color: lightpink;
    back
}