html, body, div, nav, button {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: #16A2D7;
    font-size: 2vw;
}

#sidebar {
    height: 100vh;
    /* arrange child elements */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* format */
    border-right: 1px solid #D7DBDD;
    width: fit-content; /*the width*/
}

.sidebar-child {
    /* arrange child elements */
    display: flex;
    flex-direction: column;
}

.sbc-top {
    /* format */
    padding-top: 2rem;
}

.sbc-btm {
    padding-bottom: 2rem;
}

button {
    /* format */
    color: inherit;
    background-color: white;
    font-size: 1rem;
    height: 3rem;
    width: 10rem; /*the width*/
    text-align: left;
    padding-left: 2rem;
    cursor: pointer;
}

button:hover {
    background-color: #EEF3F5;
}


















