body {
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    width: 600px;
    height: 600px;
    border: 50px solid rgba(0,0,0,1);
    /*background: rgba(106, 161, 255, 0.23);*/
    /*background: cornflowerblue url("01_div-basics.png") no-repeat;*/
    background: url("01.png") center cover no-repeat fixed border-box border-box cornflowerblue;
    /*background-image: url("01_div-basics.png");*/
    /*background-position: center;*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*background-clip: border-box;*/
    /*background-origin: border-box;*/
    /*background-color: cornflowerblue;*/

    padding: 40px;
    color: black;
}