html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    width: 500px;
    height: 500px;
    border: 2px dashed gray;
    background-image: url("01.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}