ul {
    list-style: none;
    background: deepskyblue;
}

a {
    text-decoration: none;
    padding: 20px 0;
    color: white;
    text-align: center;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

a:hover {
    background: royalblue;
}

/*
NOTE: in the video this was a:last-child
it should be
*/
li:last-child {
    border-bottom: none;
    // background-color: red;
}