html, body, h1, h2, h3, p, img {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    max-width: 90%;
    margin: 0 auto;
    padding: 40px;
    border: 25px inset deepskyblue;
    font-size: 1.5rem;
}

h1 {
    margin-top: 4rem;
    font-size: 2rem;
    text-transform: uppercase;
}

img {
    max-height: 80vh;
    max-width: 80vw;
    display: block;
    margin: 20px auto;
    border: 4px solid deepskyblue;
}

strong {
    color: blue;
}