html, body, div, h1, h2, button {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 1vw;
    color: #86969C;
}

#atf {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
}

h1 {
    font-size: 6rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

h2 {
    font-size: 3rem;
    font-weight: 100;
    margin-bottom: 3rem;
}

button {
    padding: 1rem 3rem;
    font-size: 2rem;
    color: #FFF;
    background-color: #4EBBE4;
    border: 1px solid #16A2D7;
    border-radius: 4px;
    cursor: pointer;
}

/* SMILE */

.icon {
    width: 1em; height: 1em;
    fill: currentColor;
}

.icon-smile {
    color: #BCD2DA;
    font-size: 10rem;
    margin-bottom: .5rem;
}
















