html, body, div {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div {
    min-height: 150px;
    flex-basis: 100%;
}