#s01 {
    background-color: red;
}

#s02 {
    background-color: orange;
}

#s03 {
    background-color: yellow;
}

#s04 {
    background-color: green;
}

#s05 {
    background-color: blue;
}

#s06 {
    background-color: purple;
}