html, body, form, input, textarea {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 3vw;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    border: 10px groove #00C957;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div {
    display: flex;
    justify-content: space-between;
    margin-top: .4rem;
}

label {
    margin-right: .4rem;
}

form, input, textarea {
    font-size: 1rem;
}

input, textarea {
    width: 12rem;
    border: 1px solid lightgrey;
}

#frmsubmit {
    justify-content: flex-end;
}

#submitobey {
    border: 1px solid black;
    font-size: .7rem;
    background-color: white;
    padding: .2rem .4rem;
    border-radius: 5px;
    margin-top: .8rem;
}

#submitobey:hover {
    background-color: #00C957;
}