html, body, div {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #0ebfe9;
    border: 10px groove blue;
    transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

div:hover {
    background-color: #136de9;
}

