.container {
    border: 5px solid red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    width: 200px;
    height: 100px;
    margin: 1em;
    border: 1px solid red;
    background-color: darkgray;
    text-align: center;
}