html, body, main, div {
    padding: 0;
    border: 0;
    margin: 0;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

div {
    width: 300px;
    height: 300px;
    border: 5px groove cornflowerblue;
    background-image: url("me.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

