html, body, svg {
    padding: 0;
    border: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    font-size: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

svg {
    margin: 4vw;
}

.icon {
    /* Allows sizing by changing the icon’s font-size ... em looks to the parent's font then takes a multiple of that ... whatever the font of the container, (the parent) our icon will be a multiple of 1 of that */
    width: 1em; height: 1em;
    /* Nice visual alignment for icons alongside text */
    /*vertical-align: -0.15em;*/
    /* Default path fill = value of the color property ... currentColor takes the color of the parent ... whatever the color of the container (the parent) our icon will be that color */
    /*fill: currentColor;*/
    /* Paths and strokes that overflow the viewBox can show in IE.
       If you use normalize.css, it already sets this. */
    /*overflow: hidden;*/
}

.icon--strokespace {
    fill: none;
    stroke: currentColor;
    stroke-width: 5%;
}