html {
    font-size: 20px;
}

html, body, h1, h3, p, pre {
    margin: 0;
    padding: 0;
}

body {
    width: 60%;
    margin: 0 auto;
    border: 20px double orangered;
}

h1 {
    margin-top: 20px;
}

h3, p {
    margin-top: 10px;
}

figure {
    padding: 30px;
    margin: 40px;
    border: 2px solid orange;
}

img {
    width: 80%;
    display: block;
    margin: 0 auto;
}