html {
    font-size: 2rem;
}

ul {
    /*list-style: none;*/
    list-style-type: none;
}

li {
    border: 2px solid red;
    border-radius: 50px;
    display: inline-block;
}

a {
    padding: 10px;
    border: 2px solid black;
    border-radius: 50px;
    display: inline-block;
    text-decoration: none;
}

li:hover {
    background-color: #00FF00;
}
