body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

p {
    margin: 20px;
    max-width: 550px;
    text-indent: 1rem;
}

p::first-letter {
    font-family: cursive;
    font-size: 2rem;
    line-height: .5;
}

p::first-line {
    color: red;
    font-weight: 900;
}