html, body, div {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    font-size: 2vw;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    width: 24rem;
    height: 10rem;
    background-color: white;
    border: 2px solid black;
    border-radius: 70px 0 0 0;
    /*transform: translate(12px, 50%);*/
    /*transform: translateX(2em);*/
    /*transform: translateY(3in);*/
    /*transform: scale(2, 0.5);*/
    /*transform: scaleX(2);*/
    /*transform: scaleY(0.5);*/
    /*transform: rotate(0.5turn);*/
    /*transform: rotate(180deg);*/
    /*transform: skew(30deg, 20deg);*/
    /*transform: skewX(30deg);*/
    /*transform: skewY(1.07rad);*/
    /*transform: translate3d(12px, 50%, 3em);*/
    /*transform: scale3d(2.5, 1.2, 0.3);*/
    /*transform: rotate3d(1, 2.0, 3.0, 10deg);*/
    /*transform: rotateX(50deg);*/
    /*transform: rotateY(50deg);*/
    /*transform: rotateZ(50deg);*/
    transform: translateX(10px) rotate(10deg) translateY(5px);
}