html {
    font-size: 2rem;
}

div {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: orangered;
}

.i {
    display: inline;
}

.ib {
    display: inline-block;
}