html, body, header {
    padding: 0;
    border: 0;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

header {
    background-color: rgba(244, 194, 13, .7);
    background-image: url(tree.svg);
    background-size: contain;
    /*border: 10px solid hotpink;*/
    background-position: bottom;
    background-repeat: no-repeat;
}
