h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 8rem;
    font-weight: normal;
    font-variant: small-caps;
    line-height: 1.5;

    border: 1px dashed hotpink;
}