html, body, div {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font: inherit;
    background-color: inherit;
}

html, body {
    border: 1px dashed blue;
}

body {
    width: 80%;
    margin: 100px auto;
    padding: 20px;
}

div {
    width: 100px;
    height: 50px;
    border: 2px solid black;
    margin: 20px auto;
    border-radius: 5px;
}

#s1 {
    background-color: red
}

#s2 {
    background-color: blue;
}

#s3 {
    background-color: green;
}

#s4 {
    background-color: yellow;
}

