body, html, header, article, aside, footer {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: row wrap;
}

header, article, aside, footer {
    width: 100%;
}