html, body {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 1vw;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 1em; height: 1em;
    fill: currentColor;
}

.complete {
    /* arrange */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* format */
    color: #fff;
    font-size: 4rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 1.5rem 4rem 1.5rem 2rem;
    border: .3rem solid #000;
    border-radius: 5px;
}

.icon-white {
    font-size: 5.2rem;
    padding-right: 1rem;
}

.gradient {
    background-image: linear-gradient(#72c41f, #5c9e19);
    /*background-image: linear-gradient(hotpink, green, deepskyblue);*/
}













