html {
    font-family: 'Cantarell', sans-serif;
    color: whitesmoke;
}

#idx-atf {
    /* layout */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background */
    background-color: #5b5b5b;
    background-image: url("../img/background-photo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*background-origin: border-box;*/
    background-attachment: fixed;
    /* formatting */
}

#idx-atf > div {
    height: 18vh;
}

.idx-center-spacebetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.idx-center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.4rem;
    font-weight: 700;
}

h3 {
    font-size: 1.4rem;
}

button {
    color: rgb(202, 250, 234);
    font-size: 1.4rem;
    font-weight: 700;
    border: 1px solid rgb(202, 250, 234);
    padding: .7rem 1.2rem;
    border-radius: 3px;
}