html, body, header {
    padding: 0;
    border: 0;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

header {
    background-color: gray;
    background-image: url(bird.jpg);
    background-size: cover;
    /*border: 10px solid hotpink;*/
    background-position: center;
    /* center text */
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-size: 6rem;
    padding-top: 20rem;
    /*border: 10px solid hotpink;*/
    text-align: center;
}

h2 {
    font-family: 'Nosifer', cursive;
    color: #f00;
    font-size: 10rem;
    text-align: center;
}
