div {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border: 10px solid red;
    background-color: tomato;
    border-radius: 100%;
    /*border-radius: 10% 100%;*/
    /*border-radius: 10% 100% 100% 25%;*/
    /*
    TRBL
    TB RL
    T R B L
    */
}