body {
    font-weight: bold;
}

header, article, aside, footer {
    padding: 10px;
    text-align: center;
}

header {
    background: tomato;
}

article {
    text-align: left;
    background: deepskyblue;
}

aside:nth-child(3) {
    background: gold;
}

aside:nth-child(4) {
    background: hotpink;
}

footer {
    background: lightgreen;
}