html, body, div, nav, button {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, #sidebar {
    height: 100%;
}

html {
    color: #16A2D7;
    font-size: 2vw;
}

#sidebar {
    /* arrange child elements */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    /* format */
    border-right: 1px solid #D7DBDD;
    width: fit-content;
}

.sidebar-child {
    /* arrange child elements */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.sbc-top {
    /* format */
    padding-top: 2rem;
}

.sbc-btm {
    padding-bottom: 2rem;
}

button {
    /* format */
    color: inherit;
    background-color: white;
    font-size: 1rem;
    height: 3rem;
    width: 10rem;
    text-align: left;
    padding-left: 2rem;
    cursor: pointer;
}

button:hover {
    background-color: #EEF3F5;
}