h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 8rem;
    font-weight: normal;
    /* there are many different values to play with: */
    /*font-variant: small-caps;*/
    text-transform: uppercase;
}