html, body, div, span, h1, h2, h3, h4, h5, h6, button, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, figure, figcaption, footer, header, nav, output, section, time, mark, audio, video, input, textarea, select {
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
    line-height: 1;
    border-radius: 0;
    outline: none;
}

ol, ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}

blockquote, q {
    quotes: none;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}