* {
    border: 1px dashed blue;
}

body {
    width: 80%;
    /*max-width: 600px;*/
    margin: 0 auto;
    padding: 20px;
}

div {
    height: 50px;
    width: 100px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0 auto;
}

#one {
    background-color: #FF0000;
}

#two {
    background-color: #0000FF;
}

#three {
    background-color: #FFD700;
}

#four {
    background-color: #308014;
}