html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*primary axis, in this case row*/
    justify-content: center;
    /* cross axis, in this case column*/
    align-items: center;
    background-image: url("paradise.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: white;
    font-size: 80px;
}

