html {
    /*font-size: 62.5%;*/
    font-size: 10px;
}

article {
    /*font-size: 2rem;*/
    /*font-size: 2em;*/
    /*font-size: 200%;*/
    font-size: 20px;
}

section {
    /*font-size: 1em;*/
    /*font-size: 100%;*/
    font-size: 20px;
}

h2:first-child {
    color: red;
}