<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<form action="/process" method="post">
    <label for="it">ITEM</label>
    <input type="checkbox" name="item" id="it" value="item1">
    
    <label for="it2">ITEM2</label>
    <input type="checkbox" name="item" id="it2" value="item2">
    
    <label for="it3">ITEM3</label>
    <input type="checkbox" name="item" id="it3" value="item3">

    <input type="submit">
</form>

</body>
</html>