div {
    width: 200px;
    height: 200px;
    background-color: red;
    /*border-radius: 20px;*/
    /*border-radius: 20%;*/
    /*border-radius: 100%;*/
    /*border-radius: 20% 0;*/
    border: 20px groove orange;
    border-radius: 20% 20% 0 0;
}