* {
    /*border: 1px solid hotpink !important;*/
}


body {
    font-size: 1.6rem;
    background-image: url("../pic/fog.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    color: #094562;
    text-align: center;
    font-size: 4.8rem;
}

nav {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

li {
    margin: 2rem;
    /* added: */
    border: 1px solid blue;
    border-radius: 5px;
    width: 100px;
    height: 25px;
}

li:hover {
    color: red;
}

/* added: */
a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 2px solid red;*/
    border-radius: 5px;
}

/* added: */
a:hover {
    background-color: ghostwhite;
}

section {
    height:25rem;
    text-align: center;
    margin: 2rem;
}

#s1 {
    background-color: rgba(54, 255, 153, 0.25);
}

#s2 {
    background-color: rgba(78, 110, 255, 0.25);
}

#s3 {
    background-color: rgba(255, 141, 97, 0.25);
}

#s4 {
    background-color: rgba(197, 43, 255, 0.25);
}