html {
    font-size: 62.5%;
}

article {
    /*font-size: 2rem;*/
    /*font-size: 2em;*/
    font-size: 200%;
}

section {
    /*font-size: 1em;*/
    font-size: 100%;
}

h2:first-child {
    color: red;
}