html {
    font-size: 3vw;
}

html, body {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    border: 10px groove #00C957;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div {
    display: flex;
    justify-content: space-between;
}

form, input {
    font-size: 1rem;
}

